.App {
  text-align: center;
}
ul{
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0 !important;
}
::-webkit-scrollbar {
  display: none;
}
.top-35{
  top: 30%;
}
.custom-height{
  height: 25vh;
}
.bg{
  background: rgba(39, 31, 25, 0.678);
  color: white;
}
.ff{
  font-family: 'Oswald', sans-serif;
}
.ff2{
  font-family: 'Lobster', cursive;
}
.w-res{
  width: 60%;
}
.hover{
  cursor: pointer;
}
.custom-class{
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  overflow: hidden;
}
.clip{
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  background: rgb(126, 160, 211);
  padding: 100px 0;
  color: white;
}
.contact{
  background-image: url('https://www.catenon.com/front/img/backgrounds/bg-contact.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  object-fit: cover;
}
.error{
  background: url('https://cdn.dribbble.com/users/3556928/screenshots/8726854/glitch-trial.gif');
  background-size: 100% 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .w-res{
    width: 90%;
  }
  .custom-height{
    height: 40vh;
  }
}